
header
{
    background-color: #79DAE8;
    font-family: 'Sacramento', cursive;
    color: #2B4865;
}
 .topmenu{
   background-color:#68A7AD;
 }
 .topmenu ul
 {
display: inline-flex;
list-style: none;
}
.topmenu ul li
{
  width: 120px;
  margin: auto;
}
body
{
  /* you better change this stuff */
  margin: #40514E ;
  font-family: 'Merriweather', serif;
  color:black ;
  text-align: left;
  background-color: #E8F9FD;
  font-size: 100%;
  box-sizing: border-box;
}

footer
{
  background-color: #79DAE8;
  text-align: center;
}

a{
  color:#2B4865 ;
  font-family: 'Montserrat', sans-serif;
  margin:50px 20px;
  text-decoration: none;
}
a:hover{
  color:#5800FF;
}
